﻿@model IEnumerable<BogsyStore.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h2>Customers   </h2>


    <p>@Html.ActionLink("Add New Customer", "Create", null, new { @class = "btn btn-success" })
</p>
   

<table class="table table-hover" >
    <tr>
        <th scope="row">
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th scope="row">
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th scope="row">
            @Html.DisplayNameFor(model => model.ContactNo)
        </th>
        <th scope="row">
             Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }, new { @class = "btn btn-success" })
            @Html.ActionLink("Details", "Details", new { id = item.CustomerId } ,new{ @class = "btn btn-warning" })
            @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId },new{ @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
