﻿@model BogsyStore.Models.Movy

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h2>Movies</h2>

<h5>Are you sure you want to delete this?</h5>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MovieName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieQuantity)
        </dd>

        

       

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
    
        <input type="submit" value="Delete" class="btn btn-danger" /> &nbsp;
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
    </div>
    }
</div>
