﻿@model BogsyStore.Models.Movy

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h2>Movies</h2>

<div>
    <h5>Movie Details</h5>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MovieName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieQuantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MoviesId }, new { @class = "btn btn-success" }) &nbsp;
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-danger" })
</p>
