﻿@model IEnumerable<BogsyStore.Models.Movy>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h2>Movies</h2>


<p>
    @Html.ActionLink("Add New Movie", "Create", null, new { @class = "btn btn-success" })
</p>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MovieName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieQuantity)
        </th>
        <th>
            Action
        </th>
        
    </tr>

    @foreach (var item in Model.OrderBy(i => i.MovieName))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieQuantity)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MoviesId }, new {  @class = "btn btn-success" }) 
                @Html.ActionLink("Details", "Details", new { id = item.MoviesId }, new { @class = "btn btn-warning" }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.MoviesId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
   
</table>
