﻿@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<div class="jumbotron">
    <h1>Welcome! Bogsy Video Store</h1>
    <p>Buhangin Davao City 8000 Philippines</p>
    <p class="lead">Davao City's No.1 VCD and DVD Rental Store.</p>
    <p><a href="Home/About" class="btn btn-success">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Customer</h2>
        <p>
            You can Add, Update, Delete Customer in you video store.
        </p>
        <p>@Html.ActionLink("Learn more", "Index", "customers", null, new { @class = "btn btn-success" })</p>
    </div>
    <div class="col-md-4">
        <h2>Movies</h2>
        <p>Add the lates movies here in your video store. You can also Update and Delete the Movie.</p>
        <p>@Html.ActionLink("Learn more", "Index", "Movies", null, new { @class = "btn btn-success" })</p>
    </div>
    <div class="col-md-4">
        <h2>Reports</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p>@Html.ActionLink("Learn more", "Index", "customers", null, new { @class = "btn btn-success" })</p>
    </div>
</div>