﻿@model BogsyStore.Models.Rental



@{
    ViewBag.Title = "Rent a Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h2>Rent a Movie</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Rental</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.CustomerId, "Customer Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("CustomerId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MoviesId, "Movie Title", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MoviesId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MoviesId, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.StartDate, "StartDate", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.StartDate, "{0:dd/MM/yyyy HH:mm:ss.fff}", htmlAttributes: new { @type = "hidden" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.RadioButtonFor(model => model.Duration, "1")
            1 Day
            &nbsp;&nbsp;
            @Html.RadioButtonFor(model => model.Duration, "2")
            2 Day/s
            &nbsp;&nbsp;
            @Html.RadioButtonFor(model => model.Duration, "3")
            3 Day/s

        </div>


        @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
    </div>




    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-success" /> &nbsp;
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-danger" })
        </div>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
