﻿@model BogsyStore.Models.Rental

@{
    ViewBag.Title = "Rent a Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h2>Rent a Movie</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Movie Rental</h4>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.RentalId)





    <div class="form-group">
        @Html.LabelFor(model => model.CustomerId, "CustomerId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("CustomerId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MoviesId, "MoviesId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MoviesId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MoviesId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.RadioButtonFor(model => model.Duration, "1")
            1 Day
            &nbsp;&nbsp;
            @Html.RadioButtonFor(model => model.Duration, "2")
            2 Day/s
            &nbsp;&nbsp;
            @Html.RadioButtonFor(model => model.Duration, "3")
            3 Day/s

        </div>


        @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-success" /> &nbsp;
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-danger" })
        </div>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
