﻿@model IEnumerable<BogsyStore.Models.Rental>

@{
    ViewBag.Title = "Rentals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h2>Rent a Movie</h2>

<p>
    @Html.ActionLink("Rent a Movie", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Movy.MovieName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Movy.MovieName)
        </td>

        <td>

            @Html.DisplayFor(modelItem => item.Customer.CustomerName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.RentalId }, new { @class = "btn btn-success" })
            @Html.ActionLink("Details", "Details", new { id = item.RentalId }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Delete", "Delete", new { id = item.RentalId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
