﻿
<nav class="navbar navbar-expand-lg navbar-dark bg-success  fixed-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <img src="~/Images/icon.ico" height="50" width="50" /> &nbsp; &nbsp; @Html.ActionLink("Imong Mama", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <div class="navbar-collapse collapse" id="navbarSupportedContent">

            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Customers", "Index", "Customers", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Movies", "Index", "Movies", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Rentals", "Index", "Rentals", null, new { @class = "nav-link" })</li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><h5>Welcome,&nbsp;</h5></li>
                <li class="nav-item"><h5>Admin</h5></li>


            </ul>


        </div>
    </div>
</nav>

